dotnetcore-graph-serviceapp/content/obj/Debug/netcoreapp2.0/content.csproj.CoreCompileInputs.cache
dotnetcore-graph-console/content/obj/Debug/netcoreapp2.0/content.csproj.CoreCompileInputs.cache
dotnetcore-graph-console/content/obj/project.assets.json
